<ion-view title="Login" hide-nav-bar="true" id="page5" class="pg5">
  <ion-content padding="false" class="manual-ios-statusbar-padding login_screen">

    <div id="logoContent">
      <img src="img/JOKiWwG0RpmqQmRNuC0l_ownLogo.png" class="pipo">
    </div>

    <div id="login-button-bar1" class="button-bar">
      <button class="button button-calm  button-block bold-font" 
      ng-click="teacherForm()">{{ 'LOG_TEACHER' | translate }}</button>
      <button class="button button-calm  button-block bold-font" 
      ng-click="studentForm()">{{ 'LOG_STUDENT' | translate }}</button>
    </div>

    <form id="login-form1" class="list" ng-show="loginType">
      <ion-list id="login-list1">
        <label class="item item-input list-elements" id="login-input1">
        <span class="input-label">{{ 'EMAIL' | translate }}</span>
        <input type="email" placeholder="{{ 'EMAIL_EXAMPLE' | translate }}" ng-model="teacherEmail">
        </label>
        <label class="item item-input list-elements" id="login-input2" id="pass">
        <span class="input-label">{{ 'PASSWORD' | translate }}</span>
        <input id="passInput" type="password" placeholder="{{ 'YOUR_PASSWORD' | translate }}" ng-model="teacherPassword" ng-minlenght="3">
        <a href="javascript:void();" 
        onmouseout="document.getElementById('passInput').type='password'" 
        onmouseover="document.getElementById('passInput').type='text'"><span class="ion-eye verPass"></span></a>
        </label>
        <div class="spacer" class="spacerLogin"></div>
        <div id="login-button-bar1" class="button-bar">       
          <button id="login-button6" id="login-button6" class="button button-calm  button-block bold-font" ng-click="clearForm1()">{{ 'LOG_TEACHER' | translate }}</button>
        </div>
      </ion-list>
      <div id="login-button-bar3" class="button-bar">
        <button id="login-button10" class="button button-light  button-block button-clear icon ion-ios-arrow-forward"> {{ 'FORGOT_PASSWORD' | translate }}</button>
        <a ui-sref="signUp" id="login-button2" class="button button-light  button-block button-clear icon ion-ios-arrow-forward">  {{ 'DONT_HAVE_ACCOUNT' | translate }}</a>
      </div>
    </form>

    <form id="login-form2" class="list" ng-show="loginType2">
      <ion-list id="login-list1">
        <label class="item item-input list-elements" id="login-input1">
        <span class="input-label">{{ 'EMAIL' | translate }}</span>
        <input type="email" placeholder="{{ 'EMAIL_EXAMPLE' | translate }}" ng-model="studentEmail">
        </label>
        <label class="item item-input list-elements" id="login-input2" id="pass">
        <span class="input-label">{{ 'PASSWORD' | translate }}</span>
        <input id="passInput" type="password" placeholder="{{ 'YOUR_PASSWORD' | translate }}" ng-model="studentPassword" ng-minlenght="3">
        <a href="javascript:void();" 
        onmouseout="document.getElementById('passInput').type='password'" 
        onmouseover="document.getElementById('passInput').type='text'"><span class="ion-eye verPass"></span></a>
        </label>
        <div class="spacer" class="spacerLogin"></div>
        <div id="login-button-bar1" class="button-bar">       
          <button id="login-button6" id="login-button6" class="button button-calm  button-block bold-font" ng-click="clearForm2()">{{ 'LOG_STUDENT' | translate }}</button>
        </div>
      </ion-list>
      <div id="login-button-bar3" class="button-bar">
        <button id="login-button10" class="button button-light  button-block button-clear icon ion-ios-arrow-forward"> {{ 'FORGOT_PASSWORD' | translate }}</button>
        <a ui-sref="signUp" id="login-button2" class="button button-light  button-block button-clear icon ion-ios-arrow-forward">  {{ 'DONT_HAVE_ACCOUNT' | translate }}</a>
      </div>
    </form>

  </ion-content>
</ion-view>