<ion-view title="Student Home" hide-nav-bar="true" id="page31">
  <ion-content padding="false" class="manual-ios-statusbar-padding">

    <!-- Student Home Page -->

    <div ng-show="studentHomeView">
      <h3 id="teacherHome-heading1"  class="margin-top-null">
        {{ 'SELECT_YOUR_CLASS' | translate }}
        <a id="teacherHome-dropdown" class="button button-light icon ion-drag" ng-click="openPopoverStudentHome($event)"></a>
      </h3>
      <ion-list id="teacherHome-list16" class="list-elements align-text-center">
        <ion-item ng-click="rulesItemsForm()"><span class="ion-university"></span><br>{classroomName}</ion-item>
        <ion-item id="teacherHome-list-item47" ng-repeat="class in classrooms" ng-click="showAttendanceModal()">
          <span class="ion-university"></span><br>{{class.name}}
        </ion-item>
      </ion-list>
      <div class="button-bar action_buttons">
        <button id="teacherHome-button12" class="button button-calm  button-block bold-font" ng-click="showModalAddClass()">AÑADIR CLASE</button>
      </div>
    </div>

    <!-- Profile Page -->

    <div ng-show="profileView">
      <h3 id="teams-heading5" class="teams-hdg5">
        <a id="teacherHome-dropdown" class="button button-light icon ion-home" ng-click="studentHomeForm()"></a>
        <span>{{ 'PROFILE' | translate }}</span>
      </h3>
      <form id="studentProfileForm" class="list">
        <ion-list id="signUp-list2">
          <ion-item class ="teacherAvatar">
            <img src={{studentAvatar}} class="avatar">
          </ion-item>
          <label class="item item-input list-elements" id="signUp-input3">
            <span class="inputLabelProfile">
              <i class="icon ion-person"></i>&nbsp;&nbsp;{{ 'NAME' | translate }}
              <input id="inputName" type="text" placeholder="{{studentName}}" ng-model="studentName">
            </span>
          </label>
          <label class="item item-input list-elements" id="signUp-input3">
            <span class="inputLabelProfile">
              <i class="icon ion-person"></i>&nbsp;&nbsp;{{ 'SURNAME' | translate }}
              <input id="inputSurname" type="text" placeholder="{{studentSurname}}" ng-model="studentSurname">
            </span>
          </label>
          <label class="item item-input list-elements" id="signUp-input5">
            <span class="inputLabelProfile">
              <i class="icon ion-at"></i>&nbsp;&nbsp;{{ 'EMAIL' | translate }}
              <input id="inputEmail" type="email" placeholder="{{studentEmail}}" ng-model="studentEmail">
            </span>
          </label>
          <label class="item item-input list-elements" id="signUp-input6">
            <span class="inputLabelProfile">
              <i class="icon ion-locked"></i>&nbsp;&nbsp;{{ 'PASSWORD' | translate }}
              <input id="inputPassword" type="password" placeholder="{{studentPassword}}" ng-model="studentPassword" ng-minlenght="6">
            </span>
          </label>
          <label class="item item-input list-elements" id="signUp-input7">
            <span class="inputLabelProfile">
              <i class="icon ion-locked"></i>&nbsp;&nbsp;{{ 'CONFIRM_PASSWORD' | translate }}
              <input id="inputRepeatpassword" type="password" placeholder="{{studentPassword}}" ng-model="studentPasswordRepeat" ng-minlenght="6">
            </span>
          </label>
          <label class="item item-input list-elements" id="signUp-input3">
            <span class="inputLabelProfile">
              <i class="icon ion-clipboard"></i>&nbsp;&nbsp;ESCUELA
              <input id="inputAvatar" type="text" placeholder="{{studentSchool}}" ng-model="studentSchool">
            </span>
          </label>
          <label class="item item-input list-elements" id="signUp-input3">
            <span class="inputLabelProfile">
              <i class="icon ion-image"></i>&nbsp;&nbsp;{{ 'AVATAR' | translate }}
              <input id="inputAvatar" type="text" placeholder="{{studentAvatar}}" ng-model="studentAvatar">
            </span>
          </label>
        </ion-list>
        <div class="button-bar action_buttons">
          <button id="signUp-button8" class="button button-calm button-block" ng-click="settingsForm()">{{ 'CANCEL' | translate }}</button>
          <button id="signUp-button9" ng-disabled="!studentName && !studentSurname && !studentEmail && !studentPassword && !studentPasswordRepeat && !studentSchool && !studentAvatar" id="signUp-btn9" class="button button-calm button-block" ng-click="settingsForm()">{{ 'SAVE_CHANGES' | translate }}</button>
        </div>
      </form>
    </div>

    <!-- Settings Page -->

    <div ng-show="settingsView">
      <h3 id="studentHome-heading1"  class="margin-top-null">
        <a id="studentHome-dropdown" class="button button-light icon ion-home" ng-click="studentHomeForm()"></a>
        <span>{{ 'SETTINGS' | translate }}</span>
      </h3>
      <div>
        <ion-list class="list-elements align-text-center">
          <ion-item ng-click="teacherProfileForm()">{{'PROFILE'| translate}}</ion-item>
          <ion-item ng-click="openPopoverLanguages($event)">{{'LANGUAGES'| translate}}</ion-item>
          <ion-item>AYUDA</ion-item>
          <ion-item>TERMINOS Y CONDICIONES</ion-item>
          <ion-item>ACERCA DE</ion-item>
        </ion-list>
      </div>
      <div class="button-bar action_buttons">
        <a id="teacherSettings-button81" id="teacherSettings-btn81" class="button button-assertive  button-block button-clear icon ion-ios-close-empty logout" ng-click="logOut(); studentHomeForm()">&nbsp;{{ 'LOG_OUT' | translate }}</a>
      </div>
    </div>

    <!-- Rules Items Page -->

    <div ng-show="rulesItemsView">
      <h3 id="class-heading2">
        <a id="teacherHome-dropdown" class="button button-light icon ion-home" ng-click="studentHomeForm()"></a>
        <span ng-click="classForm()">{classroomName}</span>
        <a id="teacherHome-dropdown" class="button button-light icon ion-drag" ng-click="openPopoverStudentDefault($event)"></a>
        <p>{{ 'RULES' | translate }}</p>
      </h3>
      <div id="class-button-bar5" class="button-bar">
        <button id="class-button26" ng-click="rulesItemsForm()" class="button button-light  button-outline">{{ 'ITEMS' | translate }}</button>
        <button id="class-button29" ng-click="rulesAchievementsForm()" class="button button-light  button-outline">{{ 'ACHIEVEMENTS' | translate }}</button>
      </div>
      <div>
        <label class="item item-input list-elements" id="signUp-input3">
          <span class="inputLabelProfile">
            <i class="icon ion-thumbsup"></i>&nbsp;&nbsp;PUNTOS TOTALES
            <span>{studentTotalPoints}</span>
          </span>
        </label>
      </div>
      <ion-list id="class-list5" class="list-elements">
        <ion-item class="list-student" id="class-list-item7" ng-click="showModalItemDialog()">
          <h2>{itemName}</h2>
          <p>{studentPoints}</p>
        </ion-item>
      </ion-list>
    </div>

    <!-- Rules Achievements Page -->

    <div ng-show="rulesAchievementsView">
      <h3 id="teams-heading5" class="teams-hdg5">
        <a id="teacherHome-dropdown" class="button button-light icon ion-home" ng-click="studentHomeForm()"></a>
        <span ng-click="classForm()">{classroomName}</span>
        <a id="teacherHome-dropdown" class="button button-light icon ion-drag" ng-click="openPopoverStudentDefault($event)"></a>
        <p>{{ 'RULES' | translate }}</p>
      </h3>
      <div id="class-button-bar5" class="button-bar">
        <button id="class-button26" ng-click="rulesItemsForm()"  class="button button-light  button-outline">{{ 'ITEMS' | translate }}</button>
        <button id="class-button29" ng-click="rulesAchievementsForm()"  class="button button-light  button-outline">{{ 'ACHIEVEMENTS' | translate }}</button>
      </div>
      <ion-list id="teams-list10" class="list-elements">
        <ion-item class="item-thumbnail-left  list-student" id="teams-list-item21" ng-click="showModalAchievementDialog()">
          <h2>{achievementName}</h2>
        </ion-item>
      </ion-list>
    </div>

    <!-- Reward Shop Page -->

    <div ng-show="rewardShopView">
      <h3 id="class-heading2">
        <a id="teacherHome-dropdown" class="button button-light icon ion-home" ng-click="studentHomeForm()"></a>
        <span ng-click="classForm()">{classroomName}</span>
        <a id="teacherHome-dropdown" class="button button-light icon ion-drag" ng-click="openPopoverStudentDefault($event)"></a>
        <p>TIENDA DE RECOMPENSAS</p>
      </h3>
      <ion-list id="class-list5" class="list-elements">
        <ion-item class="list-student" id="class-list-item7" ng-click="showModalRewardDialog()">
          <h2>{rewardName}</h2>
          <p>({rewardPrice})</p>
        </ion-item>
      </ion-list>
    </div>

    <!-- Missions Page -->

    <div ng-show="missionsView">
      <h3 id="class-heading2">
        <a id="teacherHome-dropdown" class="button button-light icon ion-home" ng-click="studentHomeForm()"></a>
        <span ng-click="classForm()">{classroomName}</span>
        <a id="teacherHome-dropdown" class="button button-light icon ion-drag" ng-click="openPopoverMissions($event)"></a>
        <p>MISIONES PENDIENTES</p>
      </h3>
      <ion-list id="class-list5" class="list-elements">
        <ion-item class="list-student" id="class-list-item7" ng-click="showModalMissionDialog()">
          <h2>{missionName}</h2>
        </ion-item>
      </ion-list>
    </div>

    <!--  -->

  </ion-content>
</ion-view>